.App {
  text-align: center;
}

.App-logo {
  height: 100px;
}


.App-body{
  background-color: #F9DBBD;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-link:link {
  color: #1AFFD5;
}
.App-link:visited  {
  color: #7D83FF;
}
.App-link:hover  {
  color: #FFA5AB;
}
.App-link:active  {
  color: #FFA5AB;
}

.link{
  text-decoration: none;
  display: inline;
  padding: 20px 20px;
  cursor: pointer;
}

h1{
  padding-top: 50px;
  margin-top: 0;
}

p{
  margin: 0;
}

.color1{
  height: 600px;
  background-color: #F9DBBD;
}


.color2{
  background-color: #7D83FF;
}


.color3{
  background-color: #FFA5AB;
}


.color4{
  height: 600px;
  background-color: #1AFFD5;
}

.navBar{
  height: 50px;
  background-color: #B8336A;
  position: sticky; 
  top: 0;
}

ul{
  margin-top: 0;
}

.navBar:li{
  padding-top: 0;
}


