.App {
  text-align: center;
}

.App-logo {
  height: 100px;
}


.App-body{
  background-color: #F9DBBD;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-link:link {
  color: #1AFFD5;
}
.App-link:visited  {
  color: #7D83FF;
}
.App-link:hover  {
  color: #FFA5AB;
}
.App-link:active  {
  color: #FFA5AB;
}

.link{
  text-decoration: none;
  display: inline;
  padding: 20px 20px;
  cursor: pointer;
}

h1{
  color:#bf9f4c;
  padding-top: 50px;
  margin-top: 0;
}

h2{
  color:#bf9f4c;
}

p{
  margin: 0;
  color: #bf9f4c;
}



.color3{
  background-color: #314837 ;
  border: 4px solid #6f634d;
  border-top: 0px;
}


.color4{
  height: 600px;
  background-color: #314837;
  border: 4px solid #6f634d;
  border-top: 0px;
}

.navBar{
  height: 50px;
  background-color: #6f634d;
  position: sticky; 
  top: 0;
  display:flex;
}

ul{
  margin-top: 0;
  display:flex;
  flex-grow:2;
  width:100%;
  list-style-type:none;
}

ul li{
  padding-top: 0;
  flex-grow:2;
  text-align:center;
}


